@tailwind base;
@tailwind components;
@tailwind utilities;

.div {
    font-family: DM Sans;
}
.landing-background {
    background: linear-gradient(216.04deg, #27C0EF 13.84%, #00A8DB 83.53%);

}

.css-tj5bde-Svg {
    fill: #27C0EF !important;
}

.css-1okebmr-indicatorSeparator {
    background: #27C0EF !important;
}

.css-1s2u09g-control {
    background: rgb(229 231 235 / var(--tw-bg-opacity)) !important;
}

.css-lpahdxg-control:hover {
    border-color: #27C0EF !important;
}

.css-lpahdxg-control {
    box-shadow: #27C0EF !important;
    border-color: #27C0EF !important;
}

.spinner {
  -webkit-animation: rotate 2s linear infinite;
          animation: rotate 2s linear infinite;
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
  width: 50px;
  height: 50px;
}
.spinner .path {
  stroke: #27C0EF;
  stroke-linecap: round;
  -webkit-animation: dash 1.5s ease-in-out infinite;
          animation: dash 1.5s ease-in-out infinite;
}
.spinner-normal {
  -webkit-animation: rotate 2s linear infinite;
          animation: rotate 2s linear infinite;
  width: 50px;
  height: 50px;
}
.spinner-normal .path {
  stroke: #27C0EF;
  stroke-linecap: round;
  -webkit-animation: dash 1.5s ease-in-out infinite;
          animation: dash 1.5s ease-in-out infinite;
}

@-webkit-keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}

.react-select .react-select__menu-list {
  max-height: 40px;
  margin-bottom: auto;
}

.prose :where(pre):not(:where([class~="not-prose"] *)) {
  background-color: #f5f7ff00 !important
}

.chat-content {
  height: calc(100vh - 5.75rem);
}